/* -------------------------------------------------
 * Variant-calling Nextflow config file
 * ------------------------------------------------
*/

// Global default params, used in configs

params {
	outdir = '/data/simeon/GATKCONGOLESETESTRUN'
	reads = '/data/simeon/Tryps_T_congolese/Tryp*_{1,2}.fastq'
        reference = '/data/simeon/TriTrypDB-52_TcongolenseIL3000_Genome.fasta'
	knownsites = '/data/simeon/anno/Tryp-T.congolense_anno_variants.vcf'
        adapters = '/data/simeon/TruSeq3-PE-2.fa'
	slidewindow = '4:20'
	qualdepthvalue = '100'
	tracedir = "${params.outdir}/workflow_files"
}


dag {
	enabled = true
	file = "${params.tracedir}/GATK_pipeline_dag.png"
}


report {
	enabled = true
	file = "${params.tracedir}/GATK_execution_report.html"
}

timeline {
	enabled = true
	file = "${params.tracedir}/GATK_execution_timeline.html"
}

trace {
	enabled = true
	file = "${params.tracedir}/GATK_execution_trace.html"
}



manifest {
	name = "GATK_Variant_Calling"
	homePage = "https://github.com/mbbu/AATProject"
	description = "Variant calling pipeline using GATK"
	mainScript = "main.nf"
	nextflowVersion = ">=20.10.0"
}


profiles {
    slurm {
           process.executor = 'slurm'
      }
} 

process.container = 'hebrewsimeon/condatest:latest'
docker.enabled = true
